<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
	<a asp-page="/Index" class="navbar-brand">
		<img src="@Url.Content("~/images/LogoFavicon-512-transparent.png")" width="30" heigh="30" class="for-default" />
		Canonn Reporting Hub
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="mainNavbar">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item" is-active-route asp-page="/Index"><a class="nav-link" asp-page="/Index">Home</a></li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Report Forms
				</a>
				<div class="dropdown-menu navbar-dark bg-dark" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" asp-page="/Report/BarkMound">Bark Mound</a>
					<a class="dropdown-item" asp-page="/Report/BrainTree">Brain Tree</a>
					<a class="dropdown-item" asp-page="/Report/FungalGourd">Fungal Gourd</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" asp-page="/Report/Fumarole">Fumarole</a>
					<a class="dropdown-item" asp-page="/Report/Geyser">Geyser</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" asp-page="/Report/GenerationShip">Generation Ship</a>
				</div>
			</li>
			<li class="nav-item" is-active-route asp-page="/About"><a class="nav-link" asp-page="/About">About</a></li>
			<li class="nav-item" is-active-route asp-page="/Contact"><a class="nav-link" asp-page="/Contact">Contact</a></li>
		</ul>
	</div>
</nav>

